<% provide(:title, @user.name) %>
<div>
  <aside>
      <h1>
        <h1>User has been created</h1>
        <h5>Username: <h5>
        <i><%= @user.name %><i>
        <br>
        <h5>Email: <h5>
        <i><%= @user.email %><i>
      </h1>
  </aside>
  <div class="col-md-8">
</div> 